Checks: >
  -*,
  modernize-*,
  misc-*,
  readability-identifier-naming

CheckOptions:
  # Functions use PascalCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.GlobalFunctionCase
    value: CamelCase

  # Variables use camelCase
  - key: readability-identifier-naming.LocalVariableCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: camelBack

  # Structs/Classes use PascalCase
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase

  # Member variables use camelCase
  - key: readability-identifier-naming.MemberCase
    value: camelBack
